accelerate==1.2.0
torch==2.5.1
transformers==4.46.2
numpy==2.0.2
openai==1.54.1
pandas==2.2.3
tqdm==4.66.6
ipython==8.29.0
pytrec-eval==0.5
toml==0.10.2
tenacity==9.0.0
ipykernel==6.29.5
scipy==1.14.1